# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
*.manifest
*.spec
build/

# Virtual Environment
.venv/
venv/
ENV/

# IDE files
.idea/
.vscode/
*.swp
